/* This is a CSS comment */
/* Command + / will also work in CSS file to create a comment */

/*

selector {
    property: value;
    second-property: value;
}
*/ 

/* Examples */

/* This will make all text in h1 elements green and have a font size of 14 pixels */
h1{
color: green;
font-size: 14px;
}

/* This will make all dics have a background color of blue and a red border */
div{
    background: blue;
    border: red;
}